* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.btn {
    display: block;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;
    font-size: 13px;
}

.btn-primary {
    background-color: #F7452E;
    color: #fff;
}

.btn-primary:hover {
    background-color: #c53724;
}


/* nav */

.nav-bar {
    background-color: #F7452E;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.nav-bar a,
i {
    font-size: 14px;
    color: white;
    line-height: 18px;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.menu-item {
    padding: 10px 20px;
}

.menu-item:hover {
    background-color: #c53724;
}

.menu-item:hover .menu-level-2 {
    display: block;
}

.menu .add-to-card {
    margin-left: auto;
}

.menu-level-2 {
    position: absolute;
    background-color: white;
    padding: 0px 30px;
    min-width: 150px;
    border: 1px solid #ddd;
    top: 38px;
    z-index: 1;
    display: none;
}

.menu-level-2 .menu-level-2-item {
    margin: 20px 0;
}

.menu-level-2 a {
    color: #333;
}

.menu-level-2 a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 14px;
}


/* HOME - MAIN */

main {
    padding: 60px 0;
    background-color: #F5F5F5;
}

#message {
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 10;
    background-color: #fde3df;
    color: #F7452E;
    padding: 16px 20px;
    border-radius: 5px;
    border: .2px solid #F7452E;
    display: none;
    font-size: 14px;
    animation-name: moveTopToBottom;
    animation-duration: 1s;
}

@keyframes moveTopToBottom {
    0% {
        top: 0px;
    }
    100% {
        top: 50px;
    }
}