.product-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-item {
    padding: 20px;
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 5px;
    flex-basis: calc(25% - 40px);
    margin: 20px 20px 30px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.product-item .product-item-thumb {
    margin-bottom: 10px;
}

.product-item .product-item-title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-top: auto;
}

.product-item .product-item-price {
    margin-bottom: 20px;
}

.product-item .product-item-price-origin {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #F7452E;
}

.product-item .product-item-price-sale {
    display: inline-block;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 400;
    color: #888;
}

.product-item .btn {
    margin-left: auto;
}